<nav class="navbar navbar-default navbar-fixed-top original">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Social View</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="top">Search</a></li>
        <li><a id="left">left</a></li>
        <li><a id="right">right</a></li>

        <li><a href="#">Sign up</a></li>
        <li><a href="#">Login</a></li>
        <% if @current_user.present? %>
          <li><%= @current_user.name %></li>
          <li><%= link_to("Log out #{ @current_user.name }", login_path, :method => :delete ) %></li>
        <% else %>
        <li><a href="#" ud="sign-up">Sign up</a></li>
        <li><a href="#" id="login">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="log in">
  <%= form_tag('/login', :method => :post) do  %>
  <%= label_tag(:email) %>
  <%= text_field_tag(:email, nil, :autofocus => true, :required => true) %>
  <%= label_tag(:password) %>
  <%= password_field_tag(:password, nil, :required => true) %>
  <%= submit_tag('Log in', :class => 'btn btn-default') %>
<% end %>
</div>

<div id="sign-up">
  <%= form_tag('/users', :method => :post) do  %>
      <%= label_tag(:name) %>
      <%= text_field(:name, :placeholder => "Name") %>
      <%= label_tag(:email) %>
      <%= text_field(:email, :placeholder => 'email') %>
      <%= label_tag(:password) %>
      <%= password_field(:password, :placeholder => 'Password') %>
      <%= submit_tag('Sign Up', :class => 'btn btn-default') %>
  <% end %>
</div>
</nav>


